.jumbotron {
  padding-top: 6rem;
}
#projects .card-body a:hover {
  color: black;
  background-color: aliceblue;
}
body {
  font-family: poppins;
}
#contact button:hover {
  background-color: white;
  color: black;
}
footer p,
a {
  color: black;
  text-decoration: none;
}
footer {
  padding-bottom: 40px;
}
#contact a {
  color: white;
}
footer p a:hover {
  color: black;
}
#contact a:hover {
  color: black;
  background-color: white;
}
.jumbotron {
  position: relative;
}
// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
.navbar {
position:fixed;
}
}
