.jumbotron {
  padding-top: 6rem;
}
#projects .card-body a:hover {
  color: black;
  background-color: aliceblue;
}
body {
  font-family: poppins;
}
#contact button:hover {
  background-color: white;
  color: black;
}
footer p,
a {
  color: black;
  text-decoration: none;
}
footer {
  padding-bottom: 40px;
}
#contact p a:hover {
  color: rgb(247, 247, 247);
}
footer p a:hover {
  color: black;
}
